<div style="max-width:800px; margin:20px auto; font-family:Arial, sans-serif;">
  <h2>Distancia entre dos puntos</h2>

  <form [formGroup]="formulario" >
  <label for="x1">x1</label>
  <input id="x1" formControlName="x1" type="number" />

  <label for="y1">y1</label>
  <input id="y1" formControlName="y1" type="number" />

  <label for="x2">x2</label>
  <input id="x2" formControlName="x2" type="number" />

  <label for="y2">y2</label>
  <input id="y2" formControlName="y2" type="number" />
  <button (click)="calcular()" type="submit">Calcular</button>
</form>

<p>Resultado: {{ resultado }}</p>



</div>
